/*this is for the logins page*/

html {
	height: 100%;
}

body {
	background-image: url("../images/bookshelves.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45pt;
}

button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20pt;
	text-align: center;
	margin: auto;
}

#main-div {
	margin-top: 23%;
	text-align: center;
	/*margin: auto;*/
}