.book {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15pt;
    display: block;
}

.book p {
    display: inline-block;
    margin: 0px;
    padding: 5px;
}

#book-info {
    height: 290px;
}

#book-image {
    float: left;
    width: 250px;
    height: 250px;
    padding: 20px;
    overflow: hidden;

}

#book-text {
    text-align: left;
    margin-left: 290px;
    padding-top: 20px;
}